In [2]:
import numpy as np
import pandas as pd

In [5]:
data = [["許軒耀", "01", 1], ["蕭熙曈", "03", 2], ["蔡睿庭", "04", 16], ["張竣桓", "05", 4], ["蔡承翰", "07", 33], ["林哲宇", "08", 7], ["林德威", "09", 15], ["葉令裡", "10", 32], ["鈞弘", "11", 27], ["孫詠愛", "12", 70], ["曹昱維", "13", 5], ["方皓", "14", 9], ["呂易軒", "15", 28], ["張根琥", "16", 10], ["周雍惟", "17", 12], ["陳軒竹", "18", 13], ["黃冠宇", "19", 31], ["蕭聖諠", "20", 6], ["高致詮", "21", 14], ["高泉心", "22", 23], ["蔡承傑", "23", 8], ["林鼎鈞", "24", 69], ["葉政峰", "25", 17], ["白浩均", "26", 11],]
df_score = pd.DataFrame(data, columns=['name', "id", 'rank'])
df_score.head()

  name  id  rank
0  許軒耀  01     1
1  蕭熙曈  03     2
2  蔡睿庭  04    16
3  張竣桓  05     4
4  蔡承翰  07    33

In [17]:
df_score_sorted = df_score.sort_values('rank')
df_score_sorted['id'] = df_score_sorted['id'].apply(lambda x:x.zfill(2))
df_score_sorted.head()

   name  id  rank
0   許軒耀  01     1
1   蕭熙曈  03     2
3   張竣桓  05     4
10  曹昱維  13     5
17  蕭聖諠  20     6

In [27]:
final_score = np.random.normal(85, 3, len(df_score))
final_score = sorted(final_score, reverse=True)
df_score_sorted['final_score'] = final_score
df_score_sorted.sort_values('id').to_csv('final_score.csv', index=False)
df_score_sorted.sort_values('id').to_csv('final_score.csv', encoding='cp950', index=False)